#ENV
NODE_ENV= development

#DB
DATABASE_URL=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME="MyGymProject"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

#AUTH JWT
JWT_SECRET=
JWT_EXPIRES_IN="1h"
AUTH_REFRESH_TOKEN="7"
AUTH_VERIFICATION_JWT_SECRET=
AUTH_VERIFICATION_EXPIRES_IN=1h
AUTH_PASSWORD_RESET_EXPIRES_IN=15

#Send Email
MAIL_APP_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="LoongMikGYM"

#Frontend
FRONTEND_URL=http://localhost:5173